<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-side-bar [isFullBarShow]='false'></app-side-bar>
            </div>
            <div class="col-lg-9">
                <app-header-bottom></app-header-bottom>
            </div>
        </div>
    </div>
</section>

<!-- breadcrumb section  -->
<app-breadcum-section></app-breadcum-section>

<!-- product section  -->

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <app-shop-side-bar></app-shop-side-bar>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider owl-carousel owl-loaded owl-drag">

                            <div class="owl-stage-outer">
                                <app-product-grid-slider></app-product-grid-slider>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select style="display: none;">
                                    <option value="0">Default</option>
                                    <option value="0">Default</option>
                                </select>
                                <div class="nice-select" tabindex="0"><span class="current">Default</span>
                                    <ul class="list">
                                        <li data-value="0" class="option selected">Default</li>
                                        <li data-value="0" class="option">Default</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span>16</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span [ngClass]="viewType == 'col-lg-4' ? 'activeFilterOption': ''" (click)="viewType = 'col-lg-4'" class="icon_grid-2x2"></span>
                                <span [ngClass]="viewType == 'col-lg-12' ? 'activeFilterOption': ''" (click)="viewType = 'col-lg-12'" class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <app-products-grid [perGridView]="viewType"></app-products-grid>
                </div>
                <app-paginations></app-paginations>
            </div>
        </div>
    </div>
</section>