<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="owl-item" style="width: 292.5px;"><div class="col-lg-4">
                            <div class="product__discount__item">
                                <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-6.jpg" style="background-image: url(&quot;assets/img/product/discount/pd-6.jpg&quot;);">
                                    <div class="product__discount__percent">-20%</div>
                                    <app-product-image-hover></app-product-image-hover>
                                </div>
                                <div class="product__discount__item__text">
                                    <span>Dried Fruit</span>
                                    <h5><a routerLink="/shopping-details">Raisin’n’nuts</a></h5>
                                    <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                </div>
                            </div>
                        </div></div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-4">
                            <div class="product__discount__item">
                                <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-5.jpg" style="background-image: url(&quot;assets/img/product/discount/pd-5.jpg&quot;);">
                                    <div class="product__discount__percent">-20%</div>
                                    <app-product-image-hover></app-product-image-hover>
                                </div>
                                <div class="product__discount__item__text">
                                    <span>Dried Fruit</span>
                                    <h5><a routerLink="/shopping-details">Raisin’n’nuts</a></h5>
                                    <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-4">
                            <div class="product__discount__item">
                                <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-4.jpg" style="background-image: url(&quot;assets/img/product/discount/pd-4.jpg&quot;);">
                                    <div class="product__discount__percent">-20%</div>
                                    <app-product-image-hover></app-product-image-hover>
                                </div>
                                <div class="product__discount__item__text">
                                    <span>Dried Fruit</span>
                                    <h5><a routerLink="/shopping-details">Raisin’n’nuts</a></h5>
                                    <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-4">
                            <div class="product__discount__item">
                                <div class="product__discount__item__pic set-bg" data-setbg="assets/img/product/discount/pd-3.jpg" style="background-image: url(&quot;assets/img/product/discount/pd-3.jpg&quot;);">
                                    <div class="product__discount__percent">-20%</div>
                                    <app-product-image-hover></app-product-image-hover>
                                </div>
                                <div class="product__discount__item__text">
                                    <span>Dried Fruit</span>
                                    <h5><a routerLink="/shopping-details">Mixed Fruitss</a></h5>
                                    <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-template>
                </owl-carousel-o>                  
                </div>
            </div>
        </div>
    </div>
</section>