<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-side-bar [isFullBarShow]='false'></app-side-bar>
            </div>
            <div class="col-lg-9">
                <app-header-bottom></app-header-bottom>
            </div>
        </div>
    </div>
</section>


<!-- breadcrumb section  -->
<app-breadcum-section breadCumTitle="Shopping Details" topTitle="Vegetable's"></app-breadcum-section>


<!-- shop details  -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <!-- product Image Viewer  -->
            <div class="col-lg-6 col-md-6">
                <app-product-image-viewer></app-product-image-viewer>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Vetgetable’s Package</h3>
                    <app-product-review-start></app-product-review-start>
                    <div class="product__details__price">${{productTotalPrice}}</div>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty"><span (click)="decrementQuantity()" class="dec qtybtn">-</span>
                                <input [(ngModel)]="productQuantity" min="1" type="number" value={{productQuantity}} disabled>
                                <span (click)="incrementQuantity()" class="inc qtybtn">+</span>
                            </div>
                        </div>
                    </div>
                    <button href="#" style="border: 0;" (click)="addToCart()" class="primary-btn">ADD TO CARD</button>
                    <span (click)="addToFav(!isFav)" style="cursor: pointer;" class="heart-icon">
                        <span *ngIf="!isFav" class="icon_heart_alt"></span>
                        <span *ngIf="isFav" class="icon_heart"></span>
                    </span>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <!-- shared on Social  -->
                       <app-social-shared></app-social-shared>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12">
                <app-product-details></app-product-details>
            </div>
        </div>
    </div>
</section>


<!-- Realted Product  -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <app-products-grid></app-products-grid>
        </div>
    </div>
</section>