<div class="row product__filter" id="MixItUp74BB2D" style="">
    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat"  [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg"
          data-setbg="assets/img/featured/feature-1.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-1.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood"  [ngClass]="perGridView? perGridView:''" >
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-2.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-2.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat"  [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-3.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-3.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges"  [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-4.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-4.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables"  [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-5.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-5.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood"  [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-6.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-6.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables"  [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-7.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-7.jpg&quot;);">
          <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables"   [ngClass]="perGridView? perGridView:''">
      <div class="product__item">
        <div class="product__item__pic set-bg" data-setbg="assets/img/featured/feature-8.jpg"
          style="background-image: url(&quot;assets/img/featured/feature-8.jpg&quot;);">
         <app-product-image-hover></app-product-image-hover>
        </div>
        <div class="product__item__text">
          <h6><a  routerLink="/shopping-details">Crab Pool Security</a></h6>
          <h5>$30.00</h5>
        </div>
      </div>
    </div>
  </div>