<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel owl-loaded owl-drag">
                <div class="owl-stage-outer">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-3">
                            <div class="categories__item set-bg">
                                    <div class="slide">
                                      <img src="assets/img/categories/cat-2.jpg" alt="img 1">
                                    </div>
                                    <h5><a href="#">Dried Fruit</a></h5>
                                </div>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-3">
                            <div class="categories__item set-bg">
                            <img src="assets/img/categories/cat-3.jpg" alt="" srcset="">
                            <h5><a href="#">Vegetables</a></h5>
                        </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-3">
                            <div class="categories__item set-bg">
                            <img src="assets/img/categories/cat-4.jpg" alt="" srcset="">
                            <h5><a href="#">drink fruits</a></h5>
                        </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                    <div class="owl-item cloned" style="width: 292.5px;">
                        <div class="col-lg-3">
                            <div class="categories__item set-bg">
                            <img src="assets/img/categories/cat-1.jpg" alt="" srcset="">
                            <h5><a href="#">Fresh Fruit</a></h5>
                        </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>                  
                </div>
            </div>
        </div>
    </div>
</section>